target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.mvn
.iml
Executables
ExtentReports
browsers.json
mvnw
mvnw.cmd
demo2.iml


SATTDN-MAIVUHOA.iml
